.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.tox
.nox
.DS_Store
.idea
.vscode
.venv
venv
env
ENV
build
dist
*.egg-info
logs
*.log
.uv
static/
staticfiles/
media/
